<h1>Heissan Muailma!</h1>
<p>Harjoitellaan vähän GraphiQL sekä IHostedService käyttöä dotnetillä:</p>

<p>Tarkoituksena seuraava</p>
<ul>
  <li>1. Dotnet Core backend, Angular Frontti</li>
  <li>2. IHostedService, joka pyörähtää käyntiin sovelluksen käynnistyessä.</li>
  <li>3. IHostedService käyttää GraphiQL clienttia, joka käy imaisemassa HSL avoimelta datalta häiriöt, jonka jälkeen tuuppaa uudet omaan kantaansa</li>
  <li>-- Tämä suoritetaan 30s välein</li>
  <li>-- HOX ei ole optimoitu, tulevaisuudessa haetaan vain ne jotka ei ole kannassa - nyt filtteröinti tehdään bäkkärin puolella. Ensipuraisu GraphQL, ei haukata liian isoa palaa</li>
  <li>4. Swagger josta voi pollailla backendillä olevaa OpenApi REST rajapintaa (ihan vaan testausta varten)</li>
  <li>5. TBD: SignalR spämmää fronttiin uusista häiriöistä</li>
  <li>6. TBD: Angularille leiskaa</li>
  <li>7. TBD: Käyttäjä asettaa seuraamansa pysäkin ja linjan</li>
  <li>8. TBD: Erikseen "kaikki häiriöt" (oma näkymä), SignalR ilmoitukset vain oman linjan häiriöistä</li>
</ul>
<a href="/swagger">Mennään vaan katsomaan Swaggeriä</a>